---
import {MyDialog} from '@/components/MyDialog';
import {MyCarousel} from '@/components/MyCarousel';
import {MyDrawer} from '@/components/MyDrawer';
import {Button} from '@/components/ui/button';
import {MySelect} from '@/components/MySelect';
import '@/styles/globals.css';
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Astro - Enhanced</title>
	</head>
	<body class="flex justify-center items-center bg-white min-h-screen p-5">
		<div
			class="w-full max-w-3xl bg-slate-100 rounded-lg shadow-lg overflow-hidden"
		>
			<!-- Dialog Section -->
			<section class="p-5 border-b border-slate-200">
				<h1
					class="text-xl font-semibold bg-blue-400 text-primary text-center rounded-md p-2 mb-3"
				>
					Dialog
				</h1>
				<div class="text-center py-4 text-slate-600">
					<MyDialog client:load />
				</div>
			</section>

			<!-- Drawer Section -->
			<section class="p-5 border-b border-slate-200">
				<h1
					class="text-xl font-semibold bg-blue-400 text-primary text-center rounded-md p-2 mb-3"
				>
					Drawer
				</h1>
				<div class="text-center py-4 text-slate-600">
					<MyDrawer client:load />
				</div>
			</section>

			<!-- Carousel Section -->
			<section class="p-5">
				<h1
					class="text-xl font-semibold bg-blue-400 text-primary text-center rounded-md p-2 mb-3"
				>
					Carousel
				</h1>
				<div
					class="flex justify-center items-center text-center py-4 text-slate-600"
				>
					<MyCarousel client:load />
				</div>
			</section>

			<!-- Select Section -->
			<section class="p-5">
				<h1
					class="text-xl font-semibold bg-blue-400 text-primary text-center rounded-md p-2 mb-3"
				>
					Scrollable Select
				</h1>
				<div
					class="flex justify-center items-center text-center py-4 text-slate-600"
				>
					<MySelect client:load />
				</div>
			</section>

			<section class="p-5 border-b border-slate-200">
				<h1
					class="text-xl font-semibold bg-blue-400 text-primary text-center rounded-md p-2 mb-3"
				>
					Button
				</h1>
				<div class="text-center py-4 text-slate-600">
					<Button> This is a button with no client directive </Button>
				</div>
			</section>
		</div>
	</body>
</html>
