---
import { CardGrid, LinkCard } from "@astrojs/starlight/components";
import { getCollection } from "astro:content";

interface Props {
  tags?: string[];
}
const allResources = await getCollection("resources");

// Set is used to remove duplicates
const allTags = Array.from(
  new Set(allResources.flatMap((resource) => resource.data.tags ?? []))
);
const { tags } = Astro.props;

// Determine which tags to display
const filteredTags =
  tags && tags.length > 0
    ? allTags.filter((tag) => tags.includes(tag))
    : allTags;
---

<style>
  .tag {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 0.25em;
    font-size: 0.875em;
    text-transform: capitalize;
  }
  .tags-container {
    display: flex;
    flex-wrap: wrap;
  }
  .card-wrapper {
    display: contents;
  }
</style>

<div class="tags-container not-content">
  {
    filteredTags.map((tag) => (
      <div>
        <input type="checkbox" id={tag} class="tag" />
        <label for={tag}>{tag}</label>
      </div>
    ))
  }
</div>

<CardGrid>
  {
    allResources.map((r) => (
      <div class="card-wrapper" data-tags={r.data.tags}>
        <LinkCard
          title={r.data.title}
          description={r.data.description ?? ""}
          href={r.data.link}
        />
      </div>
    ))
  }
</CardGrid>
