---
import { Image } from "astro:assets";
import { getEntry, type CollectionEntry } from "astro:content";

interface Props {
  tips: Array<CollectionEntry<"tips">>;
}

const tips = await Promise.all(
  Astro.props.tips.map(async (tip) => {
    return {
      ...tip,
      data: {
        ...tip.data,
        authors: await Promise.all(
          tip.data.authors.map((author) => getEntry(author))
        ),
      },
    };
  })
);
---

<div class="grid grid-cols-3 gap-4">
  {
    tips.map(
      ({ slug, data }) => (
        <div class="relative bg-gray-50 p-2 rounded-2xl border border-gray-200 hover:bg-gray-100 transition-colors">
          <h3>
            <a
              href={`/tips/${slug}`}
              class="text-gray-950 text-xl dark:text-gray-50 font-semibold"
            >
              {data.title}
              <span class="absolute inset-0" />
            </a>
          </h3>
          <p>{data.description}</p>
          <div class="mt-4 flex items-center -space-x-4 hover:space-x-0">
            {data.authors.map(({ slug, data }) => (
              <a href={`/authors/${slug}`} class="relative transition-[margin] rounded-full">
                <Image
                  src={data.avatar}
                  alt=""
                  class="w-8 h-8 rounded-full border border-gray-50"
                />
                <span class="sr-only">Written by {data.name}</span>
              </a>
            ))}
          </div>
        </div>
      )
    )
  }
</div>
